<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <h1 class="display-1">Hi {{ name }}!</h1>
    <h1 class="display-2">{{ title2 }}</h1>

    <!-- (click)는 앵귤러에서 ts파일에 존재하는 메소드 등을 실행 할 때 사용되는 코드이다.
  즉 내가 만든 함수를 클릭해서 실행하고 싶을 때, 아래와 같이 써주면 된다. -->
    <input style="margin-bottom: 10;" type="button" value="서버에 갔다왔다" (click)='ifIwereGoToServer()'>

    <!-- ngIf는 일단 if문으로 대충 이해하고 넘어가자 만약 all 배열에 문자열이 존재한다면 밑의 ngFor(마찬가지로 for문으로 이해하고 넘어가자)에서
  item 파라미터로 값을 넣어주고 div를 반복해 생성하는 것 같다.
  (추가)ngIf는 component.ts 파일에서 쓰여진 변수들이 실제 존재 하는지를 지속적으로
  감시하는 '디렉티브'라고 한다. 사용방법은 ts파일에서 선언한 변수에 대해서 조건을 주면 된다.
  ngFor은 component.ts파일에서 쓰여진 변수에 대해서 해당 변수가 배열 형태의 반복문이 실행
  가능한 데이터이면 해당 데이터에 맞춰서 실행되는 개념이다. -->

    <!-- let item은 all이라는 변수에서 반복문을 통해 나오는 1개의 데이터를 의미한다. {{item}}
  이라고 쓰여진 부분은 all이라는 변수에서 반복문을 통해 나온 각각의 데이터를 의미한다. -->

    <!-- 즉 전체 구조를 본다면 배열 all은 맨 처음에는 빈 배열이었지만 버튼을 눌렀을때 (click)를 통해 ifIwereGoToServer() 메소드를 발동시켰고,
  해당 메소드가 실행되면서 all 배열에 특정 문자열들이 4개 push되었다. 그 후 if문으로 조건이 충족되면서 for문이 발동하였고,
  item이란 파라미터로 div를 배열 하나마다 대응시켜 작성시켰다. 이를 양방향 바인딩이라 하는데 어쩌구 저쩌구... -->
    <div *ngIf="all.length > 0" style="margin-bottom: 10;">
        <div *ngFor="let item of all">서버에 갔다왔다고 한 데이터 : {{ item }}</div>

        <!-- idx는 순서, 반복문이 동작할 때의 순서를 의미한다. 세미콜론(;)을 통해서 내용을 구분지을 수 있다.
    앵귤러가 편한 것은, 이러한 내용을 선언만 해 두고 데이터가 변하는 내용에 따라서 동적으로 적용시켜 준 다는
    점이다. 즉, 지금은 데이터가 없지만 데이터가 바뀌거나, 생기거나, 삭제되는 모든 행동이 서로 통신하듯 적용 되어
    바로바로 바뀐다는 점이다. 이것이 양방향 데이터 바인딩이다. -->
        <div *ngFor="let item of all; let idx = index;">서버에 갔다왔다고 한 데이터 : {{idx + 1}}, {{item}}</div>
    </div>

    <input type="button" value="title2의 내용 변화" (click)='changeTitle()'>

</body>

</html>