<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="calendar.js"></script>
    <title>Document</title>
</head>
<body ng-app="calendar">
    <div ng-controller="CalendarCtrl" id="contents">
        <div class="sec">
            <div class="calendar-wrap">
                <div class="date-pick-box">
                    <button type="button" class="prev-y" ng-click="fnCalendarWrite('yearM')"><span>이전 년</span></button>
                    <button type="button" class="prev-m" ng-click="fnCalendarWrite('monthM')"><span>이전 월</span></button>
                    <span class="ele-inp" ng-click="">
                        <input type="text" ng-model="date.displayDate" readonly />
                        <button type="button" class="calendar"><span>달력보기</span></button>
                    </span>
                    <button type="button" class="next-m" ng-click="fnCalendarWrite('monthP')"><span>다음 월</span></button>
                    <button type="button" class="next-y" ng-click="fnCalendarWrite('yearP')"><span>다음 년</span></button>
                </div>
                <div class="state-box clear">
                    <span class="pack blue-ty1 fl">오전</span>
                    <span class="pack red-ty1 fl">오후</span>
                    <span class="pack line-ty1 fr" ng-click="selToday()">오늘</span>
                </div>
                <div class="calendar-box">
                    <table id="calendar">
                        <thead>
                            <tr>
                                <th scope="col" class="sun">일</th>
                                <th scope="col">월</th>
                                <th scope="col">화</th>
                                <th scope="col">수</th>
                                <th scope="col">목</th>
                                <th scope="col">금</th>
                                <th scope="col" class="sat">토</th>
                            </tr>
                        </thead>
                           <tbody compile="calendarHtml.calendar" id="calendarTable" style=""></tbody>
                           <!-- <tbody>
                               <tr>
                                   <td>
                                       <span class="day">50</span>
                                       <div class="schedule" ng-repeat="list in dateList">
                                           <span>{{list.time | date: 'HH:mm'}}</span>
                                           <div ng-if="list.setDay == '2020-01-02'">{{list.type}}</div>
                                           <div ng-if="list.type == 'article'">{{list.setDay}}</div>
                                       </div>
                                       <div>{{list.setDay}}</div>
                                   </td>
                               </tr>
                           </tbody> -->
                       </table>
                </div>
               </div>
           </div>
    </div>
</body>
</html>