<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="example.js"></script>
</head>

<body ng-app="example">
    <div ng-controller="TestCtrl">
        <div>
            <div style="overflow: hidden; height: 75px;">
                <div ng-repeat="list in checkDate">
                    <span ng-if="list.day == '20200120'">{{list.time}} {{list.day}}</span>
                </div>
            </div>
            <span ng-if="checkIndex('20200120') > 3">+ {{checkIndex('20200120')-3}}</span>

            <br>
            <span ng-click="changeForm('20200127')">{{changeForm('20200127')}}</span>
        </div>
    </div>

</body>

</html>