<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="example.js"></script>
</head>

<body ng-app="example">
    <div ng-controller="TestCtrl">
        <div>
            <div>
                <div ng-repeat="list in checkDate | filter: {day: '20200120'} | limitTo:3">
                    <span ng-if="list.day == '20200120'">{{list.time}} {{list.day}}</span>
                </div>
            </div>
            <span ng-if="checkIndex('20200120') > 3">+ {{checkIndex('20200120')-3}}</span>

            <br>
        
            <br>
            <br>
            <span ng-click="checkFunction('20200702')">체크</span>

            <br><br>
            <span ng-click="convertTime('1610')">컨버트타임</span>

            <br><br>
           <span ng-click="changeForm('20200102')">체인지폼</span>
            <br><br>
            <span ng-click="restoreForm('2020-01-20')">리스토어폼</span>
            <br><br>
            <span ng-click="restoreTime('오후 1 : 00')">리스토어타임</span>

            <br><br>
            <span ng-click="strToDate('0900')">스트링투데이트</span>
            <br><br>
        
            <br><br>
            <input type="time" ng-model="getTime">
            <br><br>
            <div>{{strTime}}</div>
            <br><br>
            <div>{{restoreTime}}<div>
            <br><br>
            <input type="button" value="사용가능?불가능?"></input>
            <br><br>
            <span ng-click="divDate('202001')">확인</span>
            <span>{{setDate}}</span>
            <span>{{setDate2}}</span>

            <span>{{check1 == check2}}</span>
            <span>{{check2}}</span>

            <span>{{getYear('202001')}}</span>
            <span>{{getMonth('202001')}}</span>
            <br><br><br>
            <textarea ng-style="{'display' : (checkStyle.isOpen == true) ? 'block' : 'none'}" cols="150px" rows="5px" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
            <br><br><br>
            <span ng-click="changeOpen()">클릭!</span>
            <br><br><br>
        </div>
    </div>

</body>

</html>