<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <title>Document</title>
</head>

<body ng-app="test">
    <div class="container-fluid">
        <div class="container" ng-controller="TestCtrl">
            <h1 class="display-4">{{ text }}</h1>
            <br>
            <span class="day"></span>
            <div class="schedule">
                <div ng-repeat="list in dateList">
                    <span ng-if="list.day == '2020-01-02'">{{list.time | date : "HH:mm"}}</span>
                </div>
            </div>
            <span class="pack gray-ty1"></span>
        </div>
    </div>
</body>

</html>