<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</head>

<!-- ng-app란 Angular를 시작 선언하는 명령으로 해당 태그에 명령을 내리면 그 이후로 angular 디렉티브를 찾는다. -->

<body ng-app="todo">
    <div class="container-fluid">
        <div class="container">
            <h1 class="display-1">Todo</h1>
            <br>
            <div ng-controller="TodoCtrl">
                <ul class="list-unstyled">
                    <li ng-repeat="todo in todos">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" ng-model="todo.completed">
                                </div>
                            </div>
                            <input type="text" class="form-control" ng-model="todo.title" placeholder="item">
                            <date>{{ todo.createdAt }}</date>
                        </div>
                    </li>
                </ul>
            </div>

            <br>
            <div ng-controller="hero">
                <ul class="list-unstyled">
                    <li ng-repeat="todo in heroes">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" ng-model="todo.name">
                                </div>
                            </div>
                            <input type="text" class="form-control" ng-model="todo.title" placeholder="item">
                            <date>{{ todo.level }}</date>
                        </div>
                    </li>
                </ul>
            </div>
            </divng-app="todo">
        </div>


</body ng-app="todo">

</html>