<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="today">
                    <span class="day"><input type="hidden" id="idName">dateNum</span>
                    <div class="schedule" ng-click="fn_visitScheduleList()">
                        <span ng-repeat=" | limitTo: 3 | filter: dateList.date == 'nowYear+'-'+nowMonth+'-'+dateNum'" ng class="">{{ dateList.schedule.time | date: "HH:mm" }}</span>
                        <span class="pack gray-ty1" ng-show="dateList.schedule.length > 3">+ {{ dateList.schedule.length  -3 }}</span>
                    </div>
                </td>
                <td class="sun"></td>
                <td class="sat"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>